.itemHeader {
font-family: PT Serif;
font-size: 1.7em;
font-style: normal;
font-weight: 700;
line-height: 1.5em;
letter-spacing: 0em;
text-align: left;
margin-bottom: 0em;

}

.addImg {
width: 1.5em;
margin-left: 0.59em;
margin-top: 0.55em;
}

.circle {
height: 2.7em;
width: 2.7em;
border-radius: 50%;
/* Airbean - brown */
background: #2F2926;
margin-top: 1.4em;
}

.left{
    float: right;
}

.underLine{
    margin-left: 4.5em;
    letter-spacing: 0.3em;
    margin-top: -1.91em;
    margin-bottom: -0em;
}