.ShoppingCartItem{
    margin-top:2em;
}
.underlineSummary{
    margin-left: 9em;
        letter-spacing: 0.3em;
        margin-top: -1.90em;
        margin-bottom: -0em;
}

.amount{
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.arrowImage{
    width: 0.7em;
}
.quantity{
    padding-top: -10em;
}

.itemHeader{
    margin-top: 0.5em;
}

.price{
    font-style: normal;
    font-weight: 600;
}

.totalHeader{
    font-family: PT Serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
}

.underlineSummaryTotal{
    margin-left: 5em;
        letter-spacing: 0.3em;
        margin-top: -3.1em;
}

.taxText{
    margin-top: -1em;
}

.totalPrice{
    font-family: PT Serif;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 700;
    margin-top: 0.3em;
}

.totalRow{
    margin-top: 3em;
}

.buttonRow{
    margin-top: 1em;
}
.submitButton{
    font-family: PT Serif;
    font-size: 2em;
    font-style: normal;
    width: 100%;
    min-height: 2em;
    background-color: black;
    border: none;
    font-weight: 500;
}
.submitButton:focus, .ant-btn-primary:hover {
    background-color: black;
}
/* .itemHeader {
    font-family: PT Serif;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0em;
    
    }
    
    .addImg {
    width: 1.5em;
    margin-left: 0.59em;
    margin-top: 0.55em;
    }
    
    .circle {
    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    background: #2F2926;
    margin-top: 0.6em;
    }
    
    .left{
        float: right;
    }
    
    .underLine{
        margin-left: 4.5em;
        letter-spacing: 0.3em;
        margin-top: -1.90em;
        margin-bottom: -0em;
    } */